<div class="table-container">
    <div class="inner">
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let heroe of (heroes$ | async)">
                    <tr>
                        <td><img class="thumbnail" [src]="heroe.thumbnail.path + '.' + heroe.thumbnail.extension"
                                alt=""></td>
                        <td>{{ heroe.id }}</td>
                        <td>{{ heroe.name }}</td>
                        <td>{{ heroe.description }}</td>
                        <td>{{ heroe.modified }}</td>
                        <td>
                            <button class="circle" (click)="getComics(heroe.id)">
                                <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png"
                                    alt="" />
                            </button>
                        </td>
                    </tr>
                    <ng-container *ngIf="selectedHeroe === heroe.id">
                        <tr>
                            <td colspan="6">
                                <table class="table__nested">
                                    <thead>
                                        <tr>
                                            <td colspan="2">Comics</td>
                                        </tr>
                                        <tr>
                                            <td>ResourceURI</td>
                                            <td>Name</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let comic of heroe.comics.items">
                                            <tr>
                                                <td>{{ comic.resourceURI }}</td>
                                                <td>{{ comic.name }}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="table__caption">
        <h2 class="table__header">Table header</h2>
        <p class="table__header--sub">Sub header</p>
    </div>
</div>
<!-- <pre>{{ heroes$ | async | json }}</pre> -->